.btn-primary{
    background-color: #313461;
    border-color: #313461;
}

.jumbotron{
    background: #333 url('../img/bg.jpg') -300px -200px;
    color: white;
    text-align: center;
    border-bottom: 5px #f4f4f4 solid;
}

.jumbotron-main{
    padding: 0 60px 40px 60px;
}

.jumbotron-main h1{
    margin-top: 60px;
    margin-bottom: 30px;
}

.jumbotron p.lead{
    font-size: 28px;
    margin-bottom: 60px;
}

.jumbotron-sub{
    padding: 0 60px 40px 60px;   
}

.jumbotron-sub h1{
    margin-top: 60px;
    margin-bottom: 30px;
}

.navbar-light .navbar-brand {
    color:white;
    margin-right:22px;
}

.navbar-light .navbar-brand:hover {
    color:white;    
    font-weight: bold;
    margin-right:16px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    margin-top: 2px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: white;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: white 3px solid;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active:hover {
    margin-bottom: 3px;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: white !important;
    border-bottom: white 3px solid;
    margin-bottom: 0px;
}

.col.md-4{

    padding: 10px 30px 0 30px;
    align-items: center;
    margin: 0 10px 0 10px;
    background: #f4f4f4;
}

.col p{
    text-align: justify;
}

.section-a{
    background-color: #313461;
    color: white;
    text-align: center;
    padding:50px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.section-a h1{
    font-size: 50px;
    padding-bottom: 50px;
}

.col-md-6{
    padding: 10px 30px 0 30px;
    align-items: center;
    margin-bottom: 20px;
}

.img-full{
    width: 100%;
}

.main-footer{
    margin-top: 20px;
    background: #f5f5f5;
    padding: 20px 80px 30px 80px;
    text-decoration: none;
}

.list-unstyled{
    text-align: center;
}

.list-unstyled a{
    color: black;
}

.panel-body{
    text-align: justify;
}